---
layout: default
---
<!-- _layouts/cv.html -->
<div class="cv-container">
  <header class="cv-header">
    <h1 class="cv-title">
      {{ page.title }}
      {% if page.cv_pdf %}
        <a href="{{ page.cv_pdf | prepend: 'assets/pdf/' | relative_url}}" target="_blank" rel="noopener noreferrer" class="cv-pdf-link">
          <i class="fas fa-file-pdf"></i>
        </a>
      {% endif %}
    </h1>
    <p class="cv-description">{{ page.description }}</p>
  </header>

  <main class="cv-content">
    {% for entry in site.data.cv %}
      <section class="cv-section">
        <div class="cv-card">
          <h2 class="cv-section-title">{{ entry.title }}</h2>
          <div class="cv-section-content">
            {% if entry.type == "list" %}
              {% include cv/list.html %}
            {% elsif entry.type == "map" %}
              {% include cv/map.html %}
            {% elsif entry.type == "nested_list" %}
              {% include cv/nested_list.html %}
            {% elsif entry.type == "time_table" %}
              {% include cv/time_table.html %}
            {% else %}
              {{ entry.contents }}
            {% endif %}
          </div>
        </div>
      </section>
    {% endfor %}
  </main>
</div>
